#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.modal__button{
  position: fixed;
  top: 2%;
  right: 2%;
}
.modal__button button{
background: none;
font-size: 1.5em;
}
.modal__button button:hover{
  border-color: transparent;

}
